body {
  background-color: #FBF3E4;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

hr {
  border-color: #BCCC9A;
  border-style: none none dotted none;
  border-bottom-width: 7px;
  width: 5%;
}

h1 {
  color: #6B4F4F;
  font-family: cursive;
  font-style: oblique;
}

h2 {
  color: #6B4F4F;
  font-style: oblique;
}

ul {
  list-style-position: inside;
  margin: auto 20% auto 20%;
}

ol {
  list-style-position: inside;
  margin: auto 20% auto 20%;
}

table {
  text-align: center;
}

p {
  margin: auto 20% auto 20%;
}
